<!DOCTYPE html>
<html ng-app="ngapp">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% block header %}
		<title>WAW Framework</title>
		<meta name="description" content="Initial waw client under angular 1.x and scss.">
		<meta name="keywords" content="waw, waw framework">
		<meta name="author" content="Honchar Denys">
	{% endblock %}
	<link rel="stylesheet" type="text/css" href="/gen/public.css">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
	<base href="/">

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-78236546-11"></script>
	<script>
	window.dataLayer = window.dataLayer || [];

	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', 'UA-78236546-11');
	</script>
</head>
<body>
	{% block body %}
	{% endblock %}
	{% block script %}
		<script src="/gen/public-min.js"></script>
	{% endblock %}
</body>
</html>