<!DOCTYPE html>
<html ng-app="xlsx">
<head>
	<title>LIST</title>
	<link rel="stylesheet" href="https://raw.githack.com/awerlang/angular-responsive-tables/master/release/angular-responsive-tables.css">
	<link rel="stylesheet" href="https://raw.githack.com/WebArtWork/wcom/master/wcom-min.css">
</head>
<body ng-controller="main">
	<div style="height: 100px;width: 100%;position: fixed; z-index: 1; 
	top: 0; left: 0; background-color: gray; overflow-y: hidden;" class="topbar">
		<div class="avatar"><a href="/">LOGO</div>
		<div style="position: fixed; top: 0%; right: 0;">		
			<a href="/waw/db/Parts.xlsx">Download</a>
			<label>
				<span>Upload</span>
				<input type="file" import-sheet-js="" multiple="false">
			</label>
		</div> 
	</div>
	<div style="position: inherit; padding-top: 100px" align="center"> 
		<div ng-repeat="collection in collections">
			<a ng-href="/waw/db/{{collection}}" target="_self">{{collection}}</a>
			<button ng-click="wipe(collection)">Wipe</button>
			<a ng-href="/waw/db/{{collection}}" target="_blank">Edit</a>
			<a ng-href="/waw/db/{{collection}}.xlsx" download>Download</a>
			<label>
				<span>Upload</span>
				<input type="file" import-sheet-js="" multiple="false" ng-hide="true">
			</label>
		</div>
	</div>
	<div style="height: 100%; width: 100px;position: absolute; z-index: 1; 
	top: 0; right: 0; background-color: gray; overflow-x: hidden;" class="sidebar">
		<div ng-repeat="user in admins" ng-if="!search">
			<img ng-src="{{user.avatarUrl}}">
			<span>{{user.name}}</span>
			<span ng-if="user.super">Main Admin</span>
			<span ng-if="!user.super">Admin</span>
			<!-- <button>Make Main Admin</button>
			<button>Remove Admin</button> -->
			<hr ng-if="$index && admins[$index-1].super && !user.super">
		</div>
		<div ng-repeat="user in users|filter:search" ng-if="search">
			<img ng-src="{{user.avatarUrl}}">
			<span>{{user.name}}</span>
			<!-- <button>Add</button> -->
		</div>

		<form>
			<input type="text" placeholder="Add User" ng-model="search">
		</form>
	</div>


	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
	<script type="text/javascript" src="https://raw.githack.com/awerlang/angular-responsive-tables/master/release/angular-responsive-tables.js"></script>
	<script type="text/javascript" src="https://raw.githack.com/WebArtWork/wcom/master/wcom-min.js"></script>
	<script type="text/javascript" src="https://rawcdn.githack.com/SheetJS/js-xlsx/1b731a3ef4366e9415591658f11130532df3adc6/dist/xlsx.full.min.js"></script>

	<script type="text/javascript">
		var app = angular.module('xlsx', ['wt.responsive', 'wcom']);
		app.controller('main', function($scope, $http, modal, mongo){
			$http.get('/waw/db/get').then(function(resp) {
				$scope.collections = resp.data.collections;
				$scope.super = resp.data.super;
				if($scope.super){
					$scope.users = resp.data.users;
					$scope.admins = [];
					for (var i = 0; i < $scope.users.length; i++) {
						if(!$scope.users[i].is){
							$scope.users[i].is={};
						}
						if($scope.users[i].is.dbsuper){
							$scope.users[i].super = true;
						}
						if($scope.users[i].is.dbsuper){
							$scope.admins.push($scope.users[i]);
						}
					}
					for (var i = 0; i < $scope.users.length; i++) {
						if($scope.users[i].is.dbadmin){
							$scope.admins.push($scope.users[i]);
						}
					}
				}
			});
			$scope.wipe = function(collection) {
				modal.open({
					templateUrl: 'modal.html',
					yes: function(){
						$http.post('/waw/db/' + collection + '/wipe');
					}
				});
			};
		});
		app.directive('importSheetJs', function() {
			return {
				scope: {
					opts: '='
				}, link: function($scope, $elm) {
					$elm.on('change', function(changeEvent) {
						var reader = new FileReader();
						reader.onload = function(e) {

							var bstr = e.target.result;
							var workbook = XLSX.read(bstr, {
								type: 'binary'
							});
						};
						reader.readAsBinaryString(changeEvent.target.files[0]);
					});
				}
			};
		});
	</script>

	<script type="text/ng-template" id="modal.html">
		<div>Are you sure?</div>
		<button ng-click="yes()">Yes</button>
		<button ng-click="close()">No</button>
	</script>
</body>
</html>